Repository openstack-archive/networking-ovn: changes, and which Zuul jobs are due for each by the changed paths.
All: legacy-networking-ovn-dsvm-base, legacy-networking-ovn-dsvm-base-multinode, networking-ovn-dsvm-functional-py27, networking-ovn-dsvm-functional, networking-ovn-tempest-dsvm-multinode, networking-ovn-dsvm-grenade, networking-ovn-base, networking-ovn-tempest-dsvm-ovs-master, networking-ovn-tempest-dsvm-ovs-release, networking-ovn-tempest-dsvm-ovs-release-python2, networking-ovn-tempest-dsvm-ovs-master-fedora, networking-ovn-rally-task, networking-ovn-tripleo-c7-s007-oooq-containers, networking-ovn-tripleo-c7-s003-oooq-containers

legacy-networking-ovn-dsvm-base:
  parent: legacy-dsvm-base
  required-projects:
  - openstack/devstack-gate
  - openstack/neutron
  - openstack/networking-ovn
  - openstack/tempest

legacy-networking-ovn-dsvm-base-multinode:
  parent: legacy-dsvm-base-multinode
  required-projects:
  - openstack/devstack-gate
  - openstack/neutron
  - openstack/networking-ovn
  - openstack/tempest

networking-ovn-dsvm-functional-py27:
  parent: legacy-networking-ovn-dsvm-base
  run: playbooks/legacy/networking-ovn-dsvm-functional-py27/run.yaml
  post-run: playbooks/legacy/networking-ovn-dsvm-functional-py27/post.yaml
  timeout: 7800
  required-projects:
  - openstack/devstack-gate
  - openstack/networking-ovn

networking-ovn-dsvm-functional:
  parent: legacy-networking-ovn-dsvm-base
  run: playbooks/legacy/networking-ovn-dsvm-functional/run.yaml
  post-run: playbooks/legacy/networking-ovn-dsvm-functional/post.yaml
  timeout: 7800
  required-projects:
  - openstack/devstack-gate
  - openstack/networking-ovn

networking-ovn-tempest-dsvm-multinode:
  parent: legacy-networking-ovn-dsvm-base-multinode
  run: playbooks/legacy/tempest-dsvm-networking-ovn-multinode/run.yaml
  post-run: playbooks/legacy/tempest-dsvm-networking-ovn-multinode/post.yaml
  timeout: 7800
  required-projects:
  - openstack/devstack-gate
  - openstack/networking-ovn
  ...

networking-ovn-dsvm-grenade:
  parent: legacy-networking-ovn-dsvm-base
  run: playbooks/legacy/grenade-dsvm-networking-ovn/run.yaml
  post-run: playbooks/legacy/grenade-dsvm-networking-ovn/post.yaml
  timeout: 9000
  required-projects:
  - openstack/grenade
  - openstack/devstack-gate
  - openstack/networking-ovn
  ...

networking-ovn-base:
  description: Base job for devstack/tempest based networking-ovn jobs.
  parent: devstack-tempest
  timeout: 10800
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/networking-ovn
  - openstack/neutron
  - openstack/neutron-tempest-plugin
  - openstack/octavia
  - openstack/tempest
  vars:
  ...

networking-ovn-tempest-dsvm-ovs-master:
  description: Job testing for devstack/tempest testing networking-ovn with OVN master branch
  parent: networking-ovn-base
  vars:
    devstack_localrc:
      OVN_BRANCH: master

networking-ovn-tempest-dsvm-ovs-release:
  description: Job testing for devstack/tempest testing networking-ovn with the latest released OVN branch
  parent: networking-ovn-base
  vars:
    devstack_localrc:
      OVN_BRANCH: branch-2.11

networking-ovn-tempest-dsvm-ovs-release-python2:
  description: Job testing for devstack/tempest testing networking-ovn with the latest released OVN branch
  parent: networking-ovn-base
  vars:
    devstack_localrc:
      OVN_BRANCH: branch-2.11
      USE_PYTHON3: false

networking-ovn-tempest-dsvm-ovs-master-fedora:
  description: Job testing for devstack/tempest testing networking-ovn with OVN master branch and Fedora
  parent: networking-ovn-tempest-dsvm-ovs-master
  nodeset: fedora-latest

[metadata-agent] Fix issue with TLS/SSL connections
  networking_ovn/agent/metadata/ovsdb.py
Due: legacy-networking-ovn-dsvm-base, legacy-networking-ovn-dsvm-base-multinode, networking-ovn-dsvm-functional-py27, networking-ovn-dsvm-functional, networking-ovn-tempest-dsvm-multinode, networking-ovn-dsvm-grenade, networking-ovn-base, networking-ovn-tempest-dsvm-ovs-master, networking-ovn-tempest-dsvm-ovs-release, networking-ovn-tempest-dsvm-ovs-release-python2, networking-ovn-tempest-dsvm-ovs-master-fedora, networking-ovn-rally-task, networking-ovn-tripleo-c7-s007-oooq-containers, networking-ovn-tripleo-c7-s003-oooq-containers

Add missing unittests to OVN provider driver
  networking_ovn/octavia/ovn_driver.py
  networking_ovn/tests/unit/octavia/test_ovn_driver.py
Due: legacy-networking-ovn-dsvm-base, legacy-networking-ovn-dsvm-base-multinode, networking-ovn-dsvm-functional-py27, networking-ovn-dsvm-functional, networking-ovn-tempest-dsvm-multinode, networking-ovn-dsvm-grenade, networking-ovn-base, networking-ovn-tempest-dsvm-ovs-master, networking-ovn-tempest-dsvm-ovs-release, networking-ovn-tempest-dsvm-ovs-release-python2, networking-ovn-tempest-dsvm-ovs-master-fedora, networking-ovn-rally-task, networking-ovn-tripleo-c7-s007-oooq-containers, networking-ovn-tripleo-c7-s003-oooq-containers

Initialize TLS prior to retrieving OVSDB schema
  networking_ovn/octavia/ovn_driver.py
Due: legacy-networking-ovn-dsvm-base, legacy-networking-ovn-dsvm-base-multinode, networking-ovn-dsvm-functional-py27, networking-ovn-dsvm-functional, networking-ovn-tempest-dsvm-multinode, networking-ovn-dsvm-grenade, networking-ovn-base, networking-ovn-tempest-dsvm-ovs-master, networking-ovn-tempest-dsvm-ovs-release, networking-ovn-tempest-dsvm-ovs-release-python2, networking-ovn-tempest-dsvm-ovs-master-fedora, networking-ovn-rally-task, networking-ovn-tripleo-c7-s007-oooq-containers, networking-ovn-tripleo-c7-s003-oooq-containers

Enable tempest DNS tests
  devstack/lib/networking-ovn
  devstack/local.conf.sample
  devstack/override-defaults
  doc/source/admin/features.rst
  networking_ovn/common/extensions.py
  networking_ovn/common/ovn_client.py
  zuul.d/networking-ovn-jobs.yaml
Due: legacy-networking-ovn-dsvm-base, legacy-networking-ovn-dsvm-base-multinode, networking-ovn-dsvm-functional-py27, networking-ovn-dsvm-functional, networking-ovn-tempest-dsvm-multinode, networking-ovn-dsvm-grenade, networking-ovn-base, networking-ovn-tempest-dsvm-ovs-master, networking-ovn-tempest-dsvm-ovs-release, networking-ovn-tempest-dsvm-ovs-release-python2, networking-ovn-tempest-dsvm-ovs-master-fedora, networking-ovn-rally-task, networking-ovn-tripleo-c7-s007-oooq-containers, networking-ovn-tripleo-c7-s003-oooq-containers

Support for Router Scheduling on addition/removal of chassis
  doc/source/admin/routing.rst
  networking_ovn/common/constants.py
  networking_ovn/common/utils.py
  networking_ovn/l3/l3_ovn.py
  networking_ovn/l3/l3_ovn_scheduler.py
  networking_ovn/ovsdb/impl_idl_ovn.py
  networking_ovn/tests/functional/base.py
  networking_ovn/tests/functional/test_router.py
  networking_ovn/tests/unit/common/test_utils.py
  networking_ovn/tests/unit/fakes.py
  networking_ovn/tests/unit/l3/test_l3_ovn.py
  networking_ovn/tests/unit/l3/test_l3_ovn_scheduler.py
  networking_ovn/tests/unit/ovsdb/test_impl_idl_ovn.py
Due: legacy-networking-ovn-dsvm-base, legacy-networking-ovn-dsvm-base-multinode, networking-ovn-dsvm-functional-py27, networking-ovn-dsvm-functional, networking-ovn-tempest-dsvm-multinode, networking-ovn-dsvm-grenade, networking-ovn-base, networking-ovn-tempest-dsvm-ovs-master, networking-ovn-tempest-dsvm-ovs-release, networking-ovn-tempest-dsvm-ovs-release-python2, networking-ovn-tempest-dsvm-ovs-master-fedora, networking-ovn-rally-task, networking-ovn-tripleo-c7-s007-oooq-containers, networking-ovn-tripleo-c7-s003-oooq-containers

Devstack: Install six via pip
  devstack/lib/ovn
  networking_ovn/tests/contrib/gate_hook.sh
Due: legacy-networking-ovn-dsvm-base, legacy-networking-ovn-dsvm-base-multinode, networking-ovn-dsvm-functional-py27, networking-ovn-dsvm-functional, networking-ovn-tempest-dsvm-multinode, networking-ovn-dsvm-grenade, networking-ovn-base, networking-ovn-tempest-dsvm-ovs-master, networking-ovn-tempest-dsvm-ovs-release, networking-ovn-tempest-dsvm-ovs-release-python2, networking-ovn-tempest-dsvm-ovs-master-fedora, networking-ovn-rally-task, networking-ovn-tripleo-c7-s007-oooq-containers, networking-ovn-tripleo-c7-s003-oooq-containers

Add support for virtual port type
  networking_ovn/common/constants.py
  networking_ovn/common/ovn_client.py
  networking_ovn/common/utils.py
  networking_ovn/ovsdb/commands.py
  networking_ovn/ovsdb/impl_idl_ovn.py
  networking_ovn/ovsdb/ovn_api.py
  networking_ovn/tests/functional/test_mech_driver.py
  networking_ovn/tests/unit/fakes.py
  networking_ovn/tests/unit/ml2/test_mech_driver.py
  releasenotes/notes/virtual-ports-fe725a817ce45e6d.yaml
Due: legacy-networking-ovn-dsvm-base, legacy-networking-ovn-dsvm-base-multinode, networking-ovn-dsvm-functional-py27, networking-ovn-dsvm-functional, networking-ovn-tempest-dsvm-multinode, networking-ovn-dsvm-grenade, networking-ovn-base, networking-ovn-tempest-dsvm-ovs-master, networking-ovn-tempest-dsvm-ovs-release, networking-ovn-tempest-dsvm-ovs-release-python2, networking-ovn-tempest-dsvm-ovs-master-fedora, networking-ovn-rally-task, networking-ovn-tripleo-c7-s007-oooq-containers, networking-ovn-tripleo-c7-s003-oooq-containers

Support QoS by meter action
  networking_ovn/common/ovn_client.py
  networking_ovn/ml2/qos_driver.py
  networking_ovn/tests/functional/test_qos_driver.py
  networking_ovn/tests/unit/ml2/test_qos_driver.py
  releasenotes/notes/support-QoS-by-meter-action-03bb9fa57e35e5bd.yaml
Due: legacy-networking-ovn-dsvm-base, legacy-networking-ovn-dsvm-base-multinode, networking-ovn-dsvm-functional-py27, networking-ovn-dsvm-functional, networking-ovn-tempest-dsvm-multinode, networking-ovn-dsvm-grenade, networking-ovn-base, networking-ovn-tempest-dsvm-ovs-master, networking-ovn-tempest-dsvm-ovs-release, networking-ovn-tempest-dsvm-ovs-release-python2, networking-ovn-tempest-dsvm-ovs-master-fedora, networking-ovn-rally-task, networking-ovn-tripleo-c7-s007-oooq-containers, networking-ovn-tripleo-c7-s003-oooq-containers

ovn-metadata-agent: dsvm-functional issues due to str conversion
  networking_ovn/agent/metadata/agent.py
Due: legacy-networking-ovn-dsvm-base, legacy-networking-ovn-dsvm-base-multinode, networking-ovn-dsvm-functional-py27, networking-ovn-dsvm-functional, networking-ovn-tempest-dsvm-multinode, networking-ovn-dsvm-grenade, networking-ovn-base, networking-ovn-tempest-dsvm-ovs-master, networking-ovn-tempest-dsvm-ovs-release, networking-ovn-tempest-dsvm-ovs-release-python2, networking-ovn-tempest-dsvm-ovs-master-fedora, networking-ovn-rally-task, networking-ovn-tripleo-c7-s007-oooq-containers, networking-ovn-tripleo-c7-s003-oooq-containers

Metadata agent: fetch ovn-bridge from OVSDB and not from config
  networking_ovn/agent/metadata/agent.py
  networking_ovn/releasenotes/notes/ignore-ovs-integration-bridge-from-metadata-agent-2752193adbbdeec9.yaml
  networking_ovn/tests/unit/agent/metadata/test_agent.py
Due: legacy-networking-ovn-dsvm-base, legacy-networking-ovn-dsvm-base-multinode, networking-ovn-dsvm-functional-py27, networking-ovn-dsvm-functional, networking-ovn-tempest-dsvm-multinode, networking-ovn-dsvm-grenade, networking-ovn-base, networking-ovn-tempest-dsvm-ovs-master, networking-ovn-tempest-dsvm-ovs-release, networking-ovn-tempest-dsvm-ovs-release-python2, networking-ovn-tempest-dsvm-ovs-master-fedora, networking-ovn-rally-task, networking-ovn-tripleo-c7-s007-oooq-containers, networking-ovn-tripleo-c7-s003-oooq-containers

Remove escape characters from container command
  migration/tripleo_environment/playbooks/roles/migration/tasks/cleanup-dataplane.yml
Due: none

Added OSP16 & train to pluging spec.
  plugin.spec
Due: legacy-networking-ovn-dsvm-base, legacy-networking-ovn-dsvm-base-multinode, networking-ovn-dsvm-functional-py27, networking-ovn-dsvm-functional, networking-ovn-tempest-dsvm-multinode, networking-ovn-dsvm-grenade, networking-ovn-base, networking-ovn-tempest-dsvm-ovs-master, networking-ovn-tempest-dsvm-ovs-release, networking-ovn-tempest-dsvm-ovs-release-python2, networking-ovn-tempest-dsvm-ovs-master-fedora, networking-ovn-rally-task, networking-ovn-tripleo-c7-s007-oooq-containers, networking-ovn-tripleo-c7-s003-oooq-containers

Fallback to default network_driver value if octavia not present
  networking_ovn/octavia/ovn_driver.py
Due: legacy-networking-ovn-dsvm-base, legacy-networking-ovn-dsvm-base-multinode, networking-ovn-dsvm-functional-py27, networking-ovn-dsvm-functional, networking-ovn-tempest-dsvm-multinode, networking-ovn-dsvm-grenade, networking-ovn-base, networking-ovn-tempest-dsvm-ovs-master, networking-ovn-tempest-dsvm-ovs-release, networking-ovn-tempest-dsvm-ovs-release-python2, networking-ovn-tempest-dsvm-ovs-master-fedora, networking-ovn-rally-task, networking-ovn-tripleo-c7-s007-oooq-containers, networking-ovn-tripleo-c7-s003-oooq-containers

Fix agent extension support after hashring merge
  networking_ovn/agent/stats.py
  networking_ovn/common/constants.py
  networking_ovn/common/exceptions.py
  networking_ovn/ml2/mech_driver.py
  networking_ovn/ovsdb/ovsdb_monitor.py
  networking_ovn/tests/functional/test_metadata_agent.py
  networking_ovn/tests/unit/agent/test_stats.py
  networking_ovn/tests/unit/fakes.py
  networking_ovn/tests/unit/ml2/test_mech_driver.py
  networking_ovn/tests/unit/ovsdb/test_ovsdb_monitor.py
Due: legacy-networking-ovn-dsvm-base, legacy-networking-ovn-dsvm-base-multinode, networking-ovn-dsvm-functional-py27, networking-ovn-dsvm-functional, networking-ovn-tempest-dsvm-multinode, networking-ovn-dsvm-grenade, networking-ovn-base, networking-ovn-tempest-dsvm-ovs-master, networking-ovn-tempest-dsvm-ovs-release, networking-ovn-tempest-dsvm-ovs-release-python2, networking-ovn-tempest-dsvm-ovs-master-fedora, networking-ovn-rally-task, networking-ovn-tripleo-c7-s007-oooq-containers, networking-ovn-tripleo-c7-s003-oooq-containers

Correctly initialize HashRingIsEmpty class
  networking_ovn/common/exceptions.py
Due: legacy-networking-ovn-dsvm-base, legacy-networking-ovn-dsvm-base-multinode, networking-ovn-dsvm-functional-py27, networking-ovn-dsvm-functional, networking-ovn-tempest-dsvm-multinode, networking-ovn-dsvm-grenade, networking-ovn-base, networking-ovn-tempest-dsvm-ovs-master, networking-ovn-tempest-dsvm-ovs-release, networking-ovn-tempest-dsvm-ovs-release-python2, networking-ovn-tempest-dsvm-ovs-master-fedora, networking-ovn-rally-task, networking-ovn-tripleo-c7-s007-oooq-containers, networking-ovn-tripleo-c7-s003-oooq-containers

Update local.conf.sample to match stable/train
  devstack/local.conf.sample
Due: legacy-networking-ovn-dsvm-base, legacy-networking-ovn-dsvm-base-multinode, networking-ovn-dsvm-functional-py27, networking-ovn-dsvm-functional, networking-ovn-tempest-dsvm-multinode, networking-ovn-dsvm-grenade, networking-ovn-base, networking-ovn-tempest-dsvm-ovs-master, networking-ovn-tempest-dsvm-ovs-release, networking-ovn-tempest-dsvm-ovs-release-python2, networking-ovn-tempest-dsvm-ovs-master-fedora, networking-ovn-rally-task, networking-ovn-tripleo-c7-s007-oooq-containers, networking-ovn-tripleo-c7-s003-oooq-containers

Added OSP16 & train to plugin spec.
  plugin.spec
Due: legacy-networking-ovn-dsvm-base, legacy-networking-ovn-dsvm-base-multinode, networking-ovn-dsvm-functional-py27, networking-ovn-dsvm-functional, networking-ovn-tempest-dsvm-multinode, networking-ovn-dsvm-grenade, networking-ovn-base, networking-ovn-tempest-dsvm-ovs-master, networking-ovn-tempest-dsvm-ovs-release, networking-ovn-tempest-dsvm-ovs-release-python2, networking-ovn-tempest-dsvm-ovs-master-fedora, networking-ovn-rally-task, networking-ovn-tripleo-c7-s007-oooq-containers, networking-ovn-tripleo-c7-s003-oooq-containers

Update pointer to OVN with OpenStack tutorial
  doc/source/admin/tutorial.rst
Due: none

Skip DB table creation and model definition
  networking_ovn/db/migration/alembic_migrations/versions/queens/expand/f48286668608_add_ovn_revision_numbers_table.py
  networking_ovn/db/migration/alembic_migrations/versions/stein/expand/4a478c5c1e16_add_ovn_hash_ring_table.py
  networking_ovn/db/migration/alembic_migrations/versions/stein/expand/e55d09277410_ovn_hash_ring_add_group_column.py
  networking_ovn/db/models.py
Due: legacy-networking-ovn-dsvm-base, legacy-networking-ovn-dsvm-base-multinode, networking-ovn-dsvm-functional-py27, networking-ovn-dsvm-functional, networking-ovn-tempest-dsvm-multinode, networking-ovn-dsvm-grenade, networking-ovn-base, networking-ovn-tempest-dsvm-ovs-master, networking-ovn-tempest-dsvm-ovs-release, networking-ovn-tempest-dsvm-ovs-release-python2, networking-ovn-tempest-dsvm-ovs-master-fedora, networking-ovn-rally-task, networking-ovn-tripleo-c7-s007-oooq-containers, networking-ovn-tripleo-c7-s003-oooq-containers

Fix for getting port groups while using OVS up to 2.9
  networking_ovn/ovsdb/impl_idl_ovn.py
  networking_ovn/tests/unit/ovsdb/test_impl_idl_ovn.py
Due: legacy-networking-ovn-dsvm-base, legacy-networking-ovn-dsvm-base-multinode, networking-ovn-dsvm-functional-py27, networking-ovn-dsvm-functional, networking-ovn-tempest-dsvm-multinode, networking-ovn-dsvm-grenade, networking-ovn-base, networking-ovn-tempest-dsvm-ovs-master, networking-ovn-tempest-dsvm-ovs-release, networking-ovn-tempest-dsvm-ovs-release-python2, networking-ovn-tempest-dsvm-ovs-master-fedora, networking-ovn-rally-task, networking-ovn-tripleo-c7-s007-oooq-containers, networking-ovn-tripleo-c7-s003-oooq-containers

Switch release jobs to use OVS 2.12 in Train
  devstack/devstackgaterc
  devstack/lib/ovn
  zuul.d/networking-ovn-jobs.yaml
Due: legacy-networking-ovn-dsvm-base, legacy-networking-ovn-dsvm-base-multinode, networking-ovn-dsvm-functional-py27, networking-ovn-dsvm-functional, networking-ovn-tempest-dsvm-multinode, networking-ovn-dsvm-grenade, networking-ovn-base, networking-ovn-tempest-dsvm-ovs-master, networking-ovn-tempest-dsvm-ovs-release, networking-ovn-tempest-dsvm-ovs-release-python2, networking-ovn-tempest-dsvm-ovs-master-fedora, networking-ovn-rally-task, networking-ovn-tripleo-c7-s007-oooq-containers, networking-ovn-tripleo-c7-s003-oooq-containers

Add Neutron network id to OVN LRPs
  networking_ovn/common/ovn_client.py
  networking_ovn/tests/unit/l3/test_l3_ovn.py
Due: legacy-networking-ovn-dsvm-base, legacy-networking-ovn-dsvm-base-multinode, networking-ovn-dsvm-functional-py27, networking-ovn-dsvm-functional, networking-ovn-tempest-dsvm-multinode, networking-ovn-dsvm-grenade, networking-ovn-base, networking-ovn-tempest-dsvm-ovs-master, networking-ovn-tempest-dsvm-ovs-release, networking-ovn-tempest-dsvm-ovs-release-python2, networking-ovn-tempest-dsvm-ovs-master-fedora, networking-ovn-rally-task, networking-ovn-tripleo-c7-s007-oooq-containers, networking-ovn-tripleo-c7-s003-oooq-containers

Do not import networking_ovn.ovsdb.worker in impl_idl_ovn
  networking_ovn/ovsdb/impl_idl_ovn.py
Due: legacy-networking-ovn-dsvm-base, legacy-networking-ovn-dsvm-base-multinode, networking-ovn-dsvm-functional-py27, networking-ovn-dsvm-functional, networking-ovn-tempest-dsvm-multinode, networking-ovn-dsvm-grenade, networking-ovn-base, networking-ovn-tempest-dsvm-ovs-master, networking-ovn-tempest-dsvm-ovs-release, networking-ovn-tempest-dsvm-ovs-release-python2, networking-ovn-tempest-dsvm-ovs-master-fedora, networking-ovn-rally-task, networking-ovn-tripleo-c7-s007-oooq-containers, networking-ovn-tripleo-c7-s003-oooq-containers

tox: Pass OVN and OVS source directories
  tox.ini
Due: none

Fix container images names in migration plugin
  migration/infrared/tripleo-ovn-migration/roles/prepare-migration/tasks/main.yml
Due: none

migration: Use ForceNeutronDriverUpdate when migrating
  migration/tripleo_environment/playbooks/roles/tripleo-update/templates/generate-ovn-extras.sh.j2
Due: none

Functional tests: Fix setup error due to missing function
  tools/configure_for_func_testing.sh
Due: legacy-networking-ovn-dsvm-base, networking-ovn-dsvm-functional-py27, networking-ovn-dsvm-functional

Fix pep8 errors found by hacking 2.0.0
  networking_ovn/ovsdb/ovsdb_monitor.py
  networking_ovn/tests/unit/common/test_hash_ring_manager.py
Due: legacy-networking-ovn-dsvm-base, legacy-networking-ovn-dsvm-base-multinode, networking-ovn-dsvm-functional-py27, networking-ovn-dsvm-functional, networking-ovn-tempest-dsvm-multinode, networking-ovn-dsvm-grenade, networking-ovn-base, networking-ovn-tempest-dsvm-ovs-master, networking-ovn-tempest-dsvm-ovs-release, networking-ovn-tempest-dsvm-ovs-release-python2, networking-ovn-tempest-dsvm-ovs-master-fedora, networking-ovn-rally-task, networking-ovn-tripleo-c7-s007-oooq-containers, networking-ovn-tripleo-c7-s003-oooq-containers

Path conditions:
  legacy-networking-ovn-dsvm-base: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$
  legacy-networking-ovn-dsvm-base-multinode: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$
  networking-ovn-dsvm-functional-py27: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$
  networking-ovn-dsvm-functional: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$
  networking-ovn-tempest-dsvm-multinode: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$
  networking-ovn-dsvm-grenade: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$
  networking-ovn-base: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$
  networking-ovn-tempest-dsvm-ovs-master: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$
  networking-ovn-tempest-dsvm-ovs-release: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$
  networking-ovn-tempest-dsvm-ovs-release-python2: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$
  networking-ovn-tempest-dsvm-ovs-master-fedora: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$
  networking-ovn-rally-task: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$
  networking-ovn-tripleo-c7-s007-oooq-containers: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$
  networking-ovn-tripleo-c7-s003-oooq-containers: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$
