Repository openstack-archive/networking-ovn: changes, and which Zuul jobs are due for each by the changed paths.
All: legacy-networking-ovn-dsvm-base, legacy-networking-ovn-dsvm-base-multinode, networking-ovn-grenade-dsvm, networking-ovn-install-dsvm-kuryr, networking-ovn-dsvm-functional, networking-ovn-dsvm-functional-py35, networking-ovn-rally-dsvm, networking-ovn-tempest-dsvm-multinode, networking-ovn-tempest-dsvm-neutron-api-scenario-ovs-release, networking-ovn-tempest-dsvm-ovs-master, networking-ovn-tempest-dsvm-ovs-master-python3, networking-ovn-tempest-dsvm-ovs-release, networking-ovn-base, networking-ovn-tempest-dsvm-ovs-release-python2, networking-ovn-tempest-dsvm-ovs-master-fedora, networking-ovn-rally-task, networking-ovn-tripleo-c7-s007-oooq-containers, networking-ovn-tripleo-c7-s003-oooq-containers

Path conditions:
  legacy-networking-ovn-dsvm-base: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$
  legacy-networking-ovn-dsvm-base-multinode: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$
  networking-ovn-grenade-dsvm: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$
  networking-ovn-install-dsvm-kuryr: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$
  networking-ovn-dsvm-functional: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$
  networking-ovn-dsvm-functional-py35: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$
  networking-ovn-rally-dsvm: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$
  networking-ovn-tempest-dsvm-multinode: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$
  networking-ovn-tempest-dsvm-neutron-api-scenario-ovs-release: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$
  networking-ovn-tempest-dsvm-ovs-master: (unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$) or (unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$)
  networking-ovn-tempest-dsvm-ovs-master-python3: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$
  networking-ovn-tempest-dsvm-ovs-release: (unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$) or (unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$)
  networking-ovn-base: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$
  networking-ovn-tempest-dsvm-ovs-release-python2: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$
  networking-ovn-tempest-dsvm-ovs-master-fedora: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$
  networking-ovn-rally-task: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$
  networking-ovn-tripleo-c7-s007-oooq-containers: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$
  networking-ovn-tripleo-c7-s003-oooq-containers: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$

Move releasenotes to correct dir
  releasenotes/notes/ignore-ovs-integration-bridge-from-metadata-agent-2752193adbbdeec9.yaml
Due: none

Fix OVN migration fetch logs task
  migration/infrared/tripleo-ovn-migration/main.yml
Due: legacy-networking-ovn-dsvm-base, legacy-networking-ovn-dsvm-base-multinode, networking-ovn-grenade-dsvm, networking-ovn-install-dsvm-kuryr, networking-ovn-dsvm-functional, networking-ovn-dsvm-functional-py35, networking-ovn-rally-dsvm, networking-ovn-tempest-dsvm-multinode, networking-ovn-tempest-dsvm-neutron-api-scenario-ovs-release, networking-ovn-tempest-dsvm-ovs-master, networking-ovn-tempest-dsvm-ovs-master-python3, networking-ovn-tempest-dsvm-ovs-release

Design Doc: Distributed OVSDB events
  doc/source/contributor/design/distributed_ovsdb_events.rst
  doc/source/contributor/design/index.rst
Due: none

Updates for fixing the Networking-OVN gate
  networking_ovn/tests/functional/requirements.txt
  networking_ovn/tests/unit/ml2/test_mech_driver.py
  tools/configure_for_func_testing.sh
  zuul.d/project.yaml
Due: legacy-networking-ovn-dsvm-base, legacy-networking-ovn-dsvm-base-multinode, networking-ovn-grenade-dsvm, networking-ovn-install-dsvm-kuryr, networking-ovn-dsvm-functional, networking-ovn-dsvm-functional-py35, networking-ovn-rally-dsvm, networking-ovn-tempest-dsvm-multinode, networking-ovn-tempest-dsvm-neutron-api-scenario-ovs-release, networking-ovn-tempest-dsvm-ovs-master, networking-ovn-tempest-dsvm-ovs-master-python3, networking-ovn-tempest-dsvm-ovs-release, networking-ovn-base, networking-ovn-tempest-dsvm-ovs-release-python2, networking-ovn-tempest-dsvm-ovs-master-fedora, networking-ovn-rally-task, networking-ovn-tripleo-c7-s007-oooq-containers, networking-ovn-tripleo-c7-s003-oooq-containers

docs: Fix migration commands so they can be copy&pasted
  doc/source/install/migration.rst
Due: none

TrivialChange: Generalize exception logging in Octavia Driver
  networking_ovn/octavia/ovn_driver.py
Due: legacy-networking-ovn-dsvm-base, legacy-networking-ovn-dsvm-base-multinode, networking-ovn-grenade-dsvm, networking-ovn-install-dsvm-kuryr, networking-ovn-dsvm-functional, networking-ovn-dsvm-functional-py35, networking-ovn-rally-dsvm, networking-ovn-tempest-dsvm-multinode, networking-ovn-tempest-dsvm-neutron-api-scenario-ovs-release, networking-ovn-tempest-dsvm-ovs-master, networking-ovn-tempest-dsvm-ovs-master-python3, networking-ovn-tempest-dsvm-ovs-release, networking-ovn-base, networking-ovn-tempest-dsvm-ovs-release-python2, networking-ovn-tempest-dsvm-ovs-master-fedora, networking-ovn-rally-task, networking-ovn-tripleo-c7-s007-oooq-containers, networking-ovn-tripleo-c7-s003-oooq-containers

Dropping the py35 testing
  setup.cfg
  tox.ini
  zuul.d/project.yaml
Due: legacy-networking-ovn-dsvm-base, legacy-networking-ovn-dsvm-base-multinode, networking-ovn-grenade-dsvm, networking-ovn-install-dsvm-kuryr, networking-ovn-dsvm-functional, networking-ovn-dsvm-functional-py35, networking-ovn-rally-dsvm, networking-ovn-tempest-dsvm-multinode, networking-ovn-tempest-dsvm-neutron-api-scenario-ovs-release, networking-ovn-tempest-dsvm-ovs-master, networking-ovn-tempest-dsvm-ovs-master-python3, networking-ovn-tempest-dsvm-ovs-release, networking-ovn-base, networking-ovn-tempest-dsvm-ovs-release-python2, networking-ovn-tempest-dsvm-ovs-master-fedora, networking-ovn-rally-task, networking-ovn-tripleo-c7-s007-oooq-containers, networking-ovn-tripleo-c7-s003-oooq-containers

Fix module imports
  networking_ovn/agent/metadata/driver.py
  networking_ovn/cmd/neutron_ovn_db_sync_util.py
  networking_ovn/common/utils.py
  networking_ovn/l3/l3_ovn.py
  networking_ovn/ml2/mech_driver.py
  networking_ovn/ml2/qos_driver.py
  networking_ovn/ml2/trunk_driver.py
  networking_ovn/octavia/ovn_driver.py
  networking_ovn/ovsdb/impl_idl_ovn.py
  networking_ovn/tests/functional/test_maintenance.py
  networking_ovn/tests/functional/test_mech_driver.py
  networking_ovn/tests/functional/test_ovn_db_resources.py
  networking_ovn/tests/functional/test_qos_driver.py
  networking_ovn/tests/functional/test_router.py
  networking_ovn/tests/functional/test_trunk_driver.py
  networking_ovn/tests/unit/agent/metadata/test_driver.py
  networking_ovn/tests/unit/ml2/test_mech_driver.py
  networking_ovn/tests/unit/ml2/test_qos_driver.py
  networking_ovn/tests/unit/ml2/test_trunk_driver.py
Due: legacy-networking-ovn-dsvm-base, legacy-networking-ovn-dsvm-base-multinode, networking-ovn-grenade-dsvm, networking-ovn-install-dsvm-kuryr, networking-ovn-dsvm-functional, networking-ovn-dsvm-functional-py35, networking-ovn-rally-dsvm, networking-ovn-tempest-dsvm-multinode, networking-ovn-tempest-dsvm-neutron-api-scenario-ovs-release, networking-ovn-tempest-dsvm-ovs-master, networking-ovn-tempest-dsvm-ovs-master-python3, networking-ovn-tempest-dsvm-ovs-release, networking-ovn-base, networking-ovn-tempest-dsvm-ovs-release-python2, networking-ovn-tempest-dsvm-ovs-master-fedora, networking-ovn-rally-task, networking-ovn-tripleo-c7-s007-oooq-containers, networking-ovn-tripleo-c7-s003-oooq-containers

Add Support matrix information for OVN Octavia Driver
  doc/source/contributor/design/loadbalancer.rst
Due: none

Cleanup MySql based checks in Functional Test Configuration tool
  tools/configure_for_func_testing.sh
Due: none

Add networking-ovn-tempest-slow job to check queue
  zuul.d/networking-ovn-jobs.yaml
  zuul.d/project.yaml
Due: legacy-networking-ovn-dsvm-base, legacy-networking-ovn-dsvm-base-multinode, networking-ovn-grenade-dsvm, networking-ovn-install-dsvm-kuryr, networking-ovn-dsvm-functional, networking-ovn-dsvm-functional-py35, networking-ovn-rally-dsvm, networking-ovn-tempest-dsvm-multinode, networking-ovn-tempest-dsvm-neutron-api-scenario-ovs-release, networking-ovn-tempest-dsvm-ovs-master, networking-ovn-tempest-dsvm-ovs-master-python3, networking-ovn-tempest-dsvm-ovs-release, networking-ovn-base, networking-ovn-tempest-dsvm-ovs-release-python2, networking-ovn-tempest-dsvm-ovs-master-fedora, networking-ovn-rally-task, networking-ovn-tripleo-c7-s007-oooq-containers, networking-ovn-tripleo-c7-s003-oooq-containers

Fix OVN provider for Octavia DevStack sample file(s)
  devstack/local.conf.sample
  devstack/ovn-octavia-provider.conf.sample
  doc/source/admin/loadbalancer.rst
Due: legacy-networking-ovn-dsvm-base, legacy-networking-ovn-dsvm-base-multinode, networking-ovn-grenade-dsvm, networking-ovn-install-dsvm-kuryr, networking-ovn-dsvm-functional, networking-ovn-dsvm-functional-py35, networking-ovn-rally-dsvm, networking-ovn-tempest-dsvm-multinode, networking-ovn-tempest-dsvm-neutron-api-scenario-ovs-release, networking-ovn-tempest-dsvm-ovs-master, networking-ovn-tempest-dsvm-ovs-master-python3, networking-ovn-tempest-dsvm-ovs-release, networking-ovn-base, networking-ovn-tempest-dsvm-ovs-release-python2, networking-ovn-tempest-dsvm-ovs-master-fedora, networking-ovn-rally-task, networking-ovn-tripleo-c7-s007-oooq-containers, networking-ovn-tripleo-c7-s003-oooq-containers

Define a hook to configure Octavia o-hm0 iface
  devstack/lib/octavia
  devstack/plugin.sh
Due: legacy-networking-ovn-dsvm-base, legacy-networking-ovn-dsvm-base-multinode, networking-ovn-grenade-dsvm, networking-ovn-install-dsvm-kuryr, networking-ovn-dsvm-functional, networking-ovn-dsvm-functional-py35, networking-ovn-rally-dsvm, networking-ovn-tempest-dsvm-multinode, networking-ovn-tempest-dsvm-neutron-api-scenario-ovs-release, networking-ovn-tempest-dsvm-ovs-master, networking-ovn-tempest-dsvm-ovs-master-python3, networking-ovn-tempest-dsvm-ovs-release, networking-ovn-base, networking-ovn-tempest-dsvm-ovs-release-python2, networking-ovn-tempest-dsvm-ovs-master-fedora, networking-ovn-rally-task, networking-ovn-tripleo-c7-s007-oooq-containers, networking-ovn-tripleo-c7-s003-oooq-containers

Update pep8 exclude files
  tox.ini
Due: none

OpenDev Migration Patch
  .gitreview
  playbooks/legacy/grenade-dsvm-networking-ovn/run.yaml
  playbooks/legacy/networking-ovn-dsvm-functional-py27/run.yaml
  playbooks/legacy/networking-ovn-dsvm-functional/run.yaml
  playbooks/legacy/tempest-dsvm-networking-ovn-multinode/run.yaml
  zuul.d/legacy-networking-ovn-jobs.yaml
  zuul.d/networking-ovn-jobs.yaml
Due: legacy-networking-ovn-dsvm-base, legacy-networking-ovn-dsvm-base-multinode, networking-ovn-grenade-dsvm, networking-ovn-install-dsvm-kuryr, networking-ovn-dsvm-functional, networking-ovn-dsvm-functional-py35, networking-ovn-rally-dsvm, networking-ovn-tempest-dsvm-multinode, networking-ovn-tempest-dsvm-neutron-api-scenario-ovs-release, networking-ovn-tempest-dsvm-ovs-master, networking-ovn-tempest-dsvm-ovs-master-python3, networking-ovn-tempest-dsvm-ovs-release, networking-ovn-base, networking-ovn-tempest-dsvm-ovs-release-python2, networking-ovn-tempest-dsvm-ovs-master-fedora, networking-ovn-rally-task, networking-ovn-tripleo-c7-s007-oooq-containers, networking-ovn-tripleo-c7-s003-oooq-containers

OpenDev Migration Patch
  .gitreview
Due: legacy-networking-ovn-dsvm-base, legacy-networking-ovn-dsvm-base-multinode, networking-ovn-grenade-dsvm, networking-ovn-install-dsvm-kuryr, networking-ovn-dsvm-functional, networking-ovn-dsvm-functional-py35, networking-ovn-rally-dsvm, networking-ovn-tempest-dsvm-multinode, networking-ovn-tempest-dsvm-neutron-api-scenario-ovs-release, networking-ovn-tempest-dsvm-ovs-master, networking-ovn-tempest-dsvm-ovs-master-python3, networking-ovn-tempest-dsvm-ovs-release, networking-ovn-base, networking-ovn-tempest-dsvm-ovs-release-python2, networking-ovn-tempest-dsvm-ovs-master-fedora, networking-ovn-rally-task, networking-ovn-tripleo-c7-s007-oooq-containers, networking-ovn-tripleo-c7-s003-oooq-containers

OpenDev Migration Patch
  .gitreview
  playbooks/legacy/grenade-dsvm-networking-ovn/run.yaml
  playbooks/legacy/install-dsvm-networking-ovn-kuryr/run.yaml
  playbooks/legacy/networking-ovn-dsvm-functional-py35/run.yaml
  playbooks/legacy/networking-ovn-dsvm-functional/run.yaml
  playbooks/legacy/tempest-dsvm-networking-ovn-multinode/run.yaml
  playbooks/legacy/tempest-dsvm-networking-ovn-neutron-api-ovs-release/run.yaml
  playbooks/legacy/tempest-dsvm-networking-ovn-ovs-master-python3/run.yaml
  playbooks/legacy/tempest-dsvm-networking-ovn-ovs-master/run.yaml
  playbooks/legacy/tempest-dsvm-networking-ovn-ovs-release/run.yaml
  zuul.d/legacy-networking-ovn-jobs.yaml
  zuul.d/networkin-ovn-rally-task.yaml
Due: legacy-networking-ovn-dsvm-base, legacy-networking-ovn-dsvm-base-multinode, networking-ovn-grenade-dsvm, networking-ovn-install-dsvm-kuryr, networking-ovn-dsvm-functional, networking-ovn-dsvm-functional-py35, networking-ovn-rally-dsvm, networking-ovn-tempest-dsvm-multinode, networking-ovn-tempest-dsvm-neutron-api-scenario-ovs-release, networking-ovn-tempest-dsvm-ovs-master, networking-ovn-tempest-dsvm-ovs-master-python3, networking-ovn-tempest-dsvm-ovs-release, networking-ovn-base, networking-ovn-tempest-dsvm-ovs-release-python2, networking-ovn-tempest-dsvm-ovs-master-fedora, networking-ovn-rally-task, networking-ovn-tripleo-c7-s007-oooq-containers, networking-ovn-tripleo-c7-s003-oooq-containers

OpenDev Migration Patch
  .gitreview
  playbooks/legacy/grenade-dsvm-networking-ovn/run.yaml
  playbooks/legacy/networking-ovn-dsvm-functional-py27/run.yaml
  playbooks/legacy/networking-ovn-dsvm-functional/run.yaml
  playbooks/legacy/tempest-dsvm-networking-ovn-multinode/run.yaml
  playbooks/legacy/tempest-dsvm-networking-ovn-ovs-master-python3/run.yaml
  playbooks/legacy/tempest-dsvm-networking-ovn-ovs-master/run.yaml
  playbooks/legacy/tempest-dsvm-networking-ovn-ovs-release-python3/run.yaml
  playbooks/legacy/tempest-dsvm-networking-ovn-ovs-release/run.yaml
  zuul.d/legacy-networking-ovn-jobs.yaml
  zuul.d/networkin-ovn-rally-task.yaml
Due: legacy-networking-ovn-dsvm-base, legacy-networking-ovn-dsvm-base-multinode, networking-ovn-grenade-dsvm, networking-ovn-install-dsvm-kuryr, networking-ovn-dsvm-functional, networking-ovn-dsvm-functional-py35, networking-ovn-rally-dsvm, networking-ovn-tempest-dsvm-multinode, networking-ovn-tempest-dsvm-neutron-api-scenario-ovs-release, networking-ovn-tempest-dsvm-ovs-master, networking-ovn-tempest-dsvm-ovs-master-python3, networking-ovn-tempest-dsvm-ovs-release, networking-ovn-base, networking-ovn-tempest-dsvm-ovs-release-python2, networking-ovn-tempest-dsvm-ovs-master-fedora, networking-ovn-rally-task, networking-ovn-tripleo-c7-s007-oooq-containers, networking-ovn-tripleo-c7-s003-oooq-containers

OpenDev Migration Patch
  .gitreview
  playbooks/legacy/grenade-dsvm-networking-ovn/run.yaml
  playbooks/legacy/networking-ovn-dsvm-functional-py35/run.yaml
  playbooks/legacy/networking-ovn-dsvm-functional/run.yaml
  playbooks/legacy/tempest-dsvm-networking-ovn-multinode/run.yaml
  playbooks/legacy/tempest-dsvm-networking-ovn-neutron-api-scenario-ovs-release/run.yaml
  playbooks/legacy/tempest-dsvm-networking-ovn-ovs-master-python3/run.yaml
  playbooks/legacy/tempest-dsvm-networking-ovn-ovs-master/run.yaml
  playbooks/legacy/tempest-dsvm-networking-ovn-ovs-release/run.yaml
  zuul.d/legacy-networking-ovn-jobs.yaml
  zuul.d/networkin-ovn-rally-task.yaml
Due: legacy-networking-ovn-dsvm-base, legacy-networking-ovn-dsvm-base-multinode, networking-ovn-grenade-dsvm, networking-ovn-install-dsvm-kuryr, networking-ovn-dsvm-functional, networking-ovn-dsvm-functional-py35, networking-ovn-rally-dsvm, networking-ovn-tempest-dsvm-multinode, networking-ovn-tempest-dsvm-neutron-api-scenario-ovs-release, networking-ovn-tempest-dsvm-ovs-master, networking-ovn-tempest-dsvm-ovs-master-python3, networking-ovn-tempest-dsvm-ovs-release, networking-ovn-base, networking-ovn-tempest-dsvm-ovs-release-python2, networking-ovn-tempest-dsvm-ovs-master-fedora, networking-ovn-rally-task, networking-ovn-tripleo-c7-s007-oooq-containers, networking-ovn-tripleo-c7-s003-oooq-containers

Remove in-tree periodic job
  zuul.d/project.yaml
Due: legacy-networking-ovn-dsvm-base, legacy-networking-ovn-dsvm-base-multinode, networking-ovn-grenade-dsvm, networking-ovn-install-dsvm-kuryr, networking-ovn-dsvm-functional, networking-ovn-dsvm-functional-py35, networking-ovn-rally-dsvm, networking-ovn-tempest-dsvm-multinode, networking-ovn-tempest-dsvm-neutron-api-scenario-ovs-release, networking-ovn-tempest-dsvm-ovs-master, networking-ovn-tempest-dsvm-ovs-master-python3, networking-ovn-tempest-dsvm-ovs-release, networking-ovn-base, networking-ovn-tempest-dsvm-ovs-release-python2, networking-ovn-tempest-dsvm-ovs-master-fedora, networking-ovn-rally-task, networking-ovn-tripleo-c7-s007-oooq-containers, networking-ovn-tripleo-c7-s003-oooq-containers

Remove in-tree periodic job
  .zuul.yaml
Due: legacy-networking-ovn-dsvm-base, legacy-networking-ovn-dsvm-base-multinode, networking-ovn-grenade-dsvm, networking-ovn-install-dsvm-kuryr, networking-ovn-dsvm-functional, networking-ovn-dsvm-functional-py35, networking-ovn-rally-dsvm, networking-ovn-tempest-dsvm-multinode, networking-ovn-tempest-dsvm-neutron-api-scenario-ovs-release, networking-ovn-tempest-dsvm-ovs-master, networking-ovn-tempest-dsvm-ovs-master-python3, networking-ovn-tempest-dsvm-ovs-release, networking-ovn-base, networking-ovn-tempest-dsvm-ovs-release-python2, networking-ovn-tempest-dsvm-ovs-master-fedora, networking-ovn-rally-task, networking-ovn-tripleo-c7-s007-oooq-containers, networking-ovn-tripleo-c7-s003-oooq-containers

use trunk constants from neutron-lib
  networking_ovn/ml2/trunk_driver.py
  networking_ovn/tests/functional/test_trunk_driver.py
  networking_ovn/tests/unit/ml2/test_trunk_driver.py
Due: legacy-networking-ovn-dsvm-base, legacy-networking-ovn-dsvm-base-multinode, networking-ovn-grenade-dsvm, networking-ovn-install-dsvm-kuryr, networking-ovn-dsvm-functional, networking-ovn-dsvm-functional-py35, networking-ovn-rally-dsvm, networking-ovn-tempest-dsvm-multinode, networking-ovn-tempest-dsvm-neutron-api-scenario-ovs-release, networking-ovn-tempest-dsvm-ovs-master, networking-ovn-tempest-dsvm-ovs-master-python3, networking-ovn-tempest-dsvm-ovs-release, networking-ovn-base, networking-ovn-tempest-dsvm-ovs-release-python2, networking-ovn-tempest-dsvm-ovs-master-fedora, networking-ovn-rally-task, networking-ovn-tripleo-c7-s007-oooq-containers, networking-ovn-tripleo-c7-s003-oooq-containers

Use opendev repository
  README.rst
  devstack/README.rst
  devstack/computenode-local.conf.sample
  devstack/db-local.conf.sample
  devstack/local.conf.sample
  devstack/ovn-octavia-provider.conf.sample
  devstack/upgrade/settings
  devstack/vtep-local.conf.sample
  doc/source/contributor/testing.rst
  doc/source/contributor/vagrant/sparse-architecture.rst
  doc/source/index.rst
  doc/source/install/tripleo.rst
  tox.ini
Due: legacy-networking-ovn-dsvm-base, legacy-networking-ovn-dsvm-base-multinode, networking-ovn-grenade-dsvm, networking-ovn-install-dsvm-kuryr, networking-ovn-dsvm-functional, networking-ovn-dsvm-functional-py35, networking-ovn-rally-dsvm, networking-ovn-tempest-dsvm-multinode, networking-ovn-tempest-dsvm-neutron-api-scenario-ovs-release, networking-ovn-tempest-dsvm-ovs-master, networking-ovn-tempest-dsvm-ovs-master-python3, networking-ovn-tempest-dsvm-ovs-release, networking-ovn-base, networking-ovn-tempest-dsvm-ovs-release-python2, networking-ovn-tempest-dsvm-ovs-master-fedora, networking-ovn-rally-task, networking-ovn-tripleo-c7-s007-oooq-containers, networking-ovn-tripleo-c7-s003-oooq-containers

metadata: Resync agent when misconfiguration is detected
  networking_ovn/agent/metadata/agent.py
  networking_ovn/tests/functional/test_metadata_agent.py
Due: legacy-networking-ovn-dsvm-base, legacy-networking-ovn-dsvm-base-multinode, networking-ovn-grenade-dsvm, networking-ovn-install-dsvm-kuryr, networking-ovn-dsvm-functional, networking-ovn-dsvm-functional-py35, networking-ovn-rally-dsvm, networking-ovn-tempest-dsvm-multinode, networking-ovn-tempest-dsvm-neutron-api-scenario-ovs-release, networking-ovn-tempest-dsvm-ovs-master, networking-ovn-tempest-dsvm-ovs-master-python3, networking-ovn-tempest-dsvm-ovs-release, networking-ovn-base, networking-ovn-tempest-dsvm-ovs-release-python2, networking-ovn-tempest-dsvm-ovs-master-fedora, networking-ovn-rally-task, networking-ovn-tripleo-c7-s007-oooq-containers, networking-ovn-tripleo-c7-s003-oooq-containers

Fix typo in testing class names
  networking_ovn/tests/unit/ml2/test_mech_driver.py
Due: legacy-networking-ovn-dsvm-base, legacy-networking-ovn-dsvm-base-multinode, networking-ovn-grenade-dsvm, networking-ovn-install-dsvm-kuryr, networking-ovn-dsvm-functional, networking-ovn-dsvm-functional-py35, networking-ovn-rally-dsvm, networking-ovn-tempest-dsvm-multinode, networking-ovn-tempest-dsvm-neutron-api-scenario-ovs-release, networking-ovn-tempest-dsvm-ovs-master, networking-ovn-tempest-dsvm-ovs-master-python3, networking-ovn-tempest-dsvm-ovs-release, networking-ovn-base, networking-ovn-tempest-dsvm-ovs-release-python2, networking-ovn-tempest-dsvm-ovs-master-fedora, networking-ovn-rally-task, networking-ovn-tripleo-c7-s007-oooq-containers, networking-ovn-tripleo-c7-s003-oooq-containers

Add method to tox to use local neutron-lib with unit tests
  TESTING.rst
  doc/source/contributor/index.rst
  doc/source/contributor/testing/testing.rst
  tools/pip_install_src_modules.sh
  tox.ini
Due: none

Fix networking-ovn-tempest-dsvm-ovs-master-fedora
  zuul.d/networking-ovn-jobs.yaml
Due: legacy-networking-ovn-dsvm-base, legacy-networking-ovn-dsvm-base-multinode, networking-ovn-grenade-dsvm, networking-ovn-install-dsvm-kuryr, networking-ovn-dsvm-functional, networking-ovn-dsvm-functional-py35, networking-ovn-rally-dsvm, networking-ovn-tempest-dsvm-multinode, networking-ovn-tempest-dsvm-neutron-api-scenario-ovs-release, networking-ovn-tempest-dsvm-ovs-master, networking-ovn-tempest-dsvm-ovs-master-python3, networking-ovn-tempest-dsvm-ovs-release, networking-ovn-base, networking-ovn-tempest-dsvm-ovs-release-python2, networking-ovn-tempest-dsvm-ovs-master-fedora, networking-ovn-rally-task, networking-ovn-tripleo-c7-s007-oooq-containers, networking-ovn-tripleo-c7-s003-oooq-containers

Add additional tests for networking_ovn.ovsdb.commands
  networking_ovn/tests/unit/fakes.py
  networking_ovn/tests/unit/ovsdb/test_commands.py
Due: legacy-networking-ovn-dsvm-base, legacy-networking-ovn-dsvm-base-multinode, networking-ovn-grenade-dsvm, networking-ovn-install-dsvm-kuryr, networking-ovn-dsvm-functional, networking-ovn-dsvm-functional-py35, networking-ovn-rally-dsvm, networking-ovn-tempest-dsvm-multinode, networking-ovn-tempest-dsvm-neutron-api-scenario-ovs-release, networking-ovn-tempest-dsvm-ovs-master, networking-ovn-tempest-dsvm-ovs-master-python3, networking-ovn-tempest-dsvm-ovs-release, networking-ovn-base, networking-ovn-tempest-dsvm-ovs-release-python2, networking-ovn-tempest-dsvm-ovs-master-fedora, networking-ovn-rally-task, networking-ovn-tripleo-c7-s007-oooq-containers, networking-ovn-tripleo-c7-s003-oooq-containers

Set ostestr concurrency to 0 to fix networking-ovn gate
  tools/ostestr_compat_shim.sh
Due: none

Change networking-ovn tripleo job to run against fs10
  zuul.d/networking-ovn-jobs.yaml
  zuul.d/project.yaml
Due: legacy-networking-ovn-dsvm-base, legacy-networking-ovn-dsvm-base-multinode, networking-ovn-grenade-dsvm, networking-ovn-install-dsvm-kuryr, networking-ovn-dsvm-functional, networking-ovn-dsvm-functional-py35, networking-ovn-rally-dsvm, networking-ovn-tempest-dsvm-multinode, networking-ovn-tempest-dsvm-neutron-api-scenario-ovs-release, networking-ovn-tempest-dsvm-ovs-master, networking-ovn-tempest-dsvm-ovs-master-python3, networking-ovn-tempest-dsvm-ovs-release, networking-ovn-base, networking-ovn-tempest-dsvm-ovs-release-python2, networking-ovn-tempest-dsvm-ovs-master-fedora, networking-ovn-rally-task, networking-ovn-tripleo-c7-s007-oooq-containers, networking-ovn-tripleo-c7-s003-oooq-containers

PEP8: Fix bandit exclude path
  tox.ini
Due: none

Update device_owner for subports
  networking_ovn/ml2/mech_driver.py
  networking_ovn/tests/unit/ml2/test_mech_driver.py
Due: legacy-networking-ovn-dsvm-base, legacy-networking-ovn-dsvm-base-multinode, networking-ovn-grenade-dsvm, networking-ovn-install-dsvm-kuryr, networking-ovn-dsvm-functional, networking-ovn-dsvm-functional-py35, networking-ovn-rally-dsvm, networking-ovn-tempest-dsvm-multinode, networking-ovn-tempest-dsvm-neutron-api-scenario-ovs-release, networking-ovn-tempest-dsvm-ovs-master, networking-ovn-tempest-dsvm-ovs-master-python3, networking-ovn-tempest-dsvm-ovs-release, networking-ovn-base, networking-ovn-tempest-dsvm-ovs-release-python2, networking-ovn-tempest-dsvm-ovs-master-fedora, networking-ovn-rally-task, networking-ovn-tripleo-c7-s007-oooq-containers, networking-ovn-tripleo-c7-s003-oooq-containers

[Trivial fix]Remove unnecessary slash
  networking_ovn/common/ovn_client.py
  networking_ovn/db/revision.py
  networking_ovn/l3/l3_ovn.py
  networking_ovn/l3/l3_ovn_scheduler.py
  networking_ovn/ml2/mech_driver.py
  networking_ovn/octavia/ovn_driver.py
  networking_ovn/ovn_db_sync.py
  networking_ovn/ovsdb/commands.py
Due: legacy-networking-ovn-dsvm-base, legacy-networking-ovn-dsvm-base-multinode, networking-ovn-grenade-dsvm, networking-ovn-install-dsvm-kuryr, networking-ovn-dsvm-functional, networking-ovn-dsvm-functional-py35, networking-ovn-rally-dsvm, networking-ovn-tempest-dsvm-multinode, networking-ovn-tempest-dsvm-neutron-api-scenario-ovs-release, networking-ovn-tempest-dsvm-ovs-master, networking-ovn-tempest-dsvm-ovs-master-python3, networking-ovn-tempest-dsvm-ovs-release, networking-ovn-base, networking-ovn-tempest-dsvm-ovs-release-python2, networking-ovn-tempest-dsvm-ovs-master-fedora, networking-ovn-rally-task, networking-ovn-tripleo-c7-s007-oooq-containers, networking-ovn-tripleo-c7-s003-oooq-containers

Fix the stable/stein branch gate
  test-requirements.txt
  zuul.d/networking-ovn-jobs.yaml
  zuul.d/project.yaml
Due: legacy-networking-ovn-dsvm-base, legacy-networking-ovn-dsvm-base-multinode, networking-ovn-grenade-dsvm, networking-ovn-install-dsvm-kuryr, networking-ovn-dsvm-functional, networking-ovn-dsvm-functional-py35, networking-ovn-rally-dsvm, networking-ovn-tempest-dsvm-multinode, networking-ovn-tempest-dsvm-neutron-api-scenario-ovs-release, networking-ovn-tempest-dsvm-ovs-master, networking-ovn-tempest-dsvm-ovs-master-python3, networking-ovn-tempest-dsvm-ovs-release, networking-ovn-base, networking-ovn-tempest-dsvm-ovs-release-python2, networking-ovn-tempest-dsvm-ovs-master-fedora, networking-ovn-rally-task, networking-ovn-tripleo-c7-s007-oooq-containers, networking-ovn-tripleo-c7-s003-oooq-containers
