Repository openstack-archive/networking-ovn: changes, and which Zuul jobs are due for each by the changed paths.
All: legacy-networking-ovn-dsvm-base, legacy-networking-ovn-dsvm-base-multinode, networking-ovn-grenade-dsvm, networking-ovn-install-dsvm-kuryr, networking-ovn-dsvm-functional, networking-ovn-dsvm-functional-py35, networking-ovn-rally-dsvm, networking-ovn-tempest-dsvm-multinode, networking-ovn-tempest-dsvm-neutron-api-scenario-ovs-release, networking-ovn-tempest-dsvm-ovs-master, networking-ovn-tempest-dsvm-ovs-master-python3, networking-ovn-tempest-dsvm-ovs-release, networking-ovn-base, networking-ovn-tempest-dsvm-ovs-release-python2, networking-ovn-tempest-dsvm-ovs-master-fedora, networking-ovn-rally-task, networking-ovn-tripleo-c7-s007-oooq-containers, networking-ovn-tripleo-c7-s003-oooq-containers

Path conditions:
  legacy-networking-ovn-dsvm-base: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$
  legacy-networking-ovn-dsvm-base-multinode: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$
  networking-ovn-grenade-dsvm: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$
  networking-ovn-install-dsvm-kuryr: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$
  networking-ovn-dsvm-functional: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$
  networking-ovn-dsvm-functional-py35: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$
  networking-ovn-rally-dsvm: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$
  networking-ovn-tempest-dsvm-multinode: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$
  networking-ovn-tempest-dsvm-neutron-api-scenario-ovs-release: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$
  networking-ovn-tempest-dsvm-ovs-master: (unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$) or (unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$)
  networking-ovn-tempest-dsvm-ovs-master-python3: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$
  networking-ovn-tempest-dsvm-ovs-release: (unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$) or (unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$)
  networking-ovn-base: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$
  networking-ovn-tempest-dsvm-ovs-release-python2: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$
  networking-ovn-tempest-dsvm-ovs-master-fedora: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$
  networking-ovn-rally-task: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$
  networking-ovn-tripleo-c7-s007-oooq-containers: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$
  networking-ovn-tripleo-c7-s003-oooq-containers: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$

Migration document update.
  doc/source/install/migration.rst
Due: none

Remove only non-alive agents during migration
  migration/tripleo_environment/playbooks/roles/delete-neutron-resources/templates/delete-neutron-resources.sh.j2
  migration/tripleo_environment/playbooks/roles/migration/tasks/cleanup-dataplane.yml
Due: legacy-networking-ovn-dsvm-base, legacy-networking-ovn-dsvm-base-multinode, networking-ovn-grenade-dsvm, networking-ovn-install-dsvm-kuryr, networking-ovn-dsvm-functional, networking-ovn-dsvm-functional-py35, networking-ovn-rally-dsvm, networking-ovn-tempest-dsvm-multinode, networking-ovn-tempest-dsvm-neutron-api-scenario-ovs-release, networking-ovn-tempest-dsvm-ovs-master, networking-ovn-tempest-dsvm-ovs-master-python3, networking-ovn-tempest-dsvm-ovs-release

Fix downtime bug during migration
  migration/tripleo_environment/playbooks/roles/migration/templates/clone-br-int.sh.j2
Due: legacy-networking-ovn-dsvm-base, legacy-networking-ovn-dsvm-base-multinode, networking-ovn-grenade-dsvm, networking-ovn-install-dsvm-kuryr, networking-ovn-dsvm-functional, networking-ovn-dsvm-functional-py35, networking-ovn-rally-dsvm, networking-ovn-tempest-dsvm-multinode, networking-ovn-tempest-dsvm-neutron-api-scenario-ovs-release, networking-ovn-tempest-dsvm-ovs-master, networking-ovn-tempest-dsvm-ovs-master-python3, networking-ovn-tempest-dsvm-ovs-release

Add extra validation and update the migration guide
  doc/source/install/migration.rst
  migration/tripleo_environment/playbooks/ovn-migration.yml
  migration/tripleo_environment/playbooks/roles/post-migration/defaults/main.yml
  migration/tripleo_environment/playbooks/roles/post-migration/tasks/main.yml
Due: legacy-networking-ovn-dsvm-base, legacy-networking-ovn-dsvm-base-multinode, networking-ovn-grenade-dsvm, networking-ovn-install-dsvm-kuryr, networking-ovn-dsvm-functional, networking-ovn-dsvm-functional-py35, networking-ovn-rally-dsvm, networking-ovn-tempest-dsvm-multinode, networking-ovn-tempest-dsvm-neutron-api-scenario-ovs-release, networking-ovn-tempest-dsvm-ovs-master, networking-ovn-tempest-dsvm-ovs-master-python3, networking-ovn-tempest-dsvm-ovs-release

Add implementation of VIP Port Creation in OVN
  lower-constraints.txt
  networking_ovn/octavia/ovn_driver.py
  requirements.txt
  test-requirements.txt
Due: legacy-networking-ovn-dsvm-base, legacy-networking-ovn-dsvm-base-multinode, networking-ovn-grenade-dsvm, networking-ovn-install-dsvm-kuryr, networking-ovn-dsvm-functional, networking-ovn-dsvm-functional-py35, networking-ovn-rally-dsvm, networking-ovn-tempest-dsvm-multinode, networking-ovn-tempest-dsvm-neutron-api-scenario-ovs-release, networking-ovn-tempest-dsvm-ovs-master, networking-ovn-tempest-dsvm-ovs-master-python3, networking-ovn-tempest-dsvm-ovs-release, networking-ovn-base, networking-ovn-tempest-dsvm-ovs-release-python2, networking-ovn-tempest-dsvm-ovs-master-fedora, networking-ovn-rally-task, networking-ovn-tripleo-c7-s007-oooq-containers, networking-ovn-tripleo-c7-s003-oooq-containers

consume UnorderedList from neutron-lib
  lower-constraints.txt
  networking_ovn/tests/unit/ml2/test_mech_driver.py
  requirements.txt
Due: legacy-networking-ovn-dsvm-base, legacy-networking-ovn-dsvm-base-multinode, networking-ovn-grenade-dsvm, networking-ovn-install-dsvm-kuryr, networking-ovn-dsvm-functional, networking-ovn-dsvm-functional-py35, networking-ovn-rally-dsvm, networking-ovn-tempest-dsvm-multinode, networking-ovn-tempest-dsvm-neutron-api-scenario-ovs-release, networking-ovn-tempest-dsvm-ovs-master, networking-ovn-tempest-dsvm-ovs-master-python3, networking-ovn-tempest-dsvm-ovs-release, networking-ovn-base, networking-ovn-tempest-dsvm-ovs-release-python2, networking-ovn-tempest-dsvm-ovs-master-fedora, networking-ovn-rally-task, networking-ovn-tripleo-c7-s007-oooq-containers, networking-ovn-tripleo-c7-s003-oooq-containers

Docs: Clean up the DevStack/TripleO testing documents
  doc/source/contributor/testing.rst
  doc/source/install/tripleo.rst
Due: none

Unified name of patcher
  networking_ovn/tests/unit/common/test_acl.py
Due: legacy-networking-ovn-dsvm-base, legacy-networking-ovn-dsvm-base-multinode, networking-ovn-grenade-dsvm, networking-ovn-install-dsvm-kuryr, networking-ovn-dsvm-functional, networking-ovn-dsvm-functional-py35, networking-ovn-rally-dsvm, networking-ovn-tempest-dsvm-multinode, networking-ovn-tempest-dsvm-neutron-api-scenario-ovs-release, networking-ovn-tempest-dsvm-ovs-master, networking-ovn-tempest-dsvm-ovs-master-python3, networking-ovn-tempest-dsvm-ovs-release, networking-ovn-base, networking-ovn-tempest-dsvm-ovs-release-python2, networking-ovn-tempest-dsvm-ovs-master-fedora, networking-ovn-rally-task, networking-ovn-tripleo-c7-s007-oooq-containers, networking-ovn-tripleo-c7-s003-oooq-containers

Fix all H904 pep8 failures
  networking_ovn/ml2/mech_driver.py
  networking_ovn/octavia/ovn_driver.py
  networking_ovn/ovn_db_sync.py
  tox.ini
Due: legacy-networking-ovn-dsvm-base, legacy-networking-ovn-dsvm-base-multinode, networking-ovn-grenade-dsvm, networking-ovn-install-dsvm-kuryr, networking-ovn-dsvm-functional, networking-ovn-dsvm-functional-py35, networking-ovn-rally-dsvm, networking-ovn-tempest-dsvm-multinode, networking-ovn-tempest-dsvm-neutron-api-scenario-ovs-release, networking-ovn-tempest-dsvm-ovs-master, networking-ovn-tempest-dsvm-ovs-master-python3, networking-ovn-tempest-dsvm-ovs-release, networking-ovn-base, networking-ovn-tempest-dsvm-ovs-release-python2, networking-ovn-tempest-dsvm-ovs-master-fedora, networking-ovn-rally-task, networking-ovn-tripleo-c7-s007-oooq-containers, networking-ovn-tripleo-c7-s003-oooq-containers

Adopt hacking 1.1.0
  .pylintrc
  lower-constraints.txt
  test-requirements.txt
  tox.ini
Due: legacy-networking-ovn-dsvm-base, legacy-networking-ovn-dsvm-base-multinode, networking-ovn-grenade-dsvm, networking-ovn-install-dsvm-kuryr, networking-ovn-dsvm-functional, networking-ovn-dsvm-functional-py35, networking-ovn-rally-dsvm, networking-ovn-tempest-dsvm-multinode, networking-ovn-tempest-dsvm-neutron-api-scenario-ovs-release, networking-ovn-tempest-dsvm-ovs-master, networking-ovn-tempest-dsvm-ovs-master-python3, networking-ovn-tempest-dsvm-ovs-release, networking-ovn-base, networking-ovn-tempest-dsvm-ovs-release-python2, networking-ovn-tempest-dsvm-ovs-master-fedora, networking-ovn-rally-task, networking-ovn-tripleo-c7-s007-oooq-containers, networking-ovn-tripleo-c7-s003-oooq-containers

Fix pep8 E117 warnings
  networking_ovn/tests/unit/ml2/test_mech_driver.py
  tox.ini
Due: legacy-networking-ovn-dsvm-base, legacy-networking-ovn-dsvm-base-multinode, networking-ovn-grenade-dsvm, networking-ovn-install-dsvm-kuryr, networking-ovn-dsvm-functional, networking-ovn-dsvm-functional-py35, networking-ovn-rally-dsvm, networking-ovn-tempest-dsvm-multinode, networking-ovn-tempest-dsvm-neutron-api-scenario-ovs-release, networking-ovn-tempest-dsvm-ovs-master, networking-ovn-tempest-dsvm-ovs-master-python3, networking-ovn-tempest-dsvm-ovs-release, networking-ovn-base, networking-ovn-tempest-dsvm-ovs-release-python2, networking-ovn-tempest-dsvm-ovs-master-fedora, networking-ovn-rally-task, networking-ovn-tripleo-c7-s007-oooq-containers, networking-ovn-tripleo-c7-s003-oooq-containers

Fix pep8 H205 warnings
  networking_ovn/tests/functional/test_impl_idl.py
  tox.ini
Due: legacy-networking-ovn-dsvm-base, legacy-networking-ovn-dsvm-base-multinode, networking-ovn-grenade-dsvm, networking-ovn-install-dsvm-kuryr, networking-ovn-dsvm-functional, networking-ovn-dsvm-functional-py35, networking-ovn-rally-dsvm, networking-ovn-tempest-dsvm-multinode, networking-ovn-tempest-dsvm-neutron-api-scenario-ovs-release, networking-ovn-tempest-dsvm-ovs-master, networking-ovn-tempest-dsvm-ovs-master-python3, networking-ovn-tempest-dsvm-ovs-release, networking-ovn-base, networking-ovn-tempest-dsvm-ovs-release-python2, networking-ovn-tempest-dsvm-ovs-master-fedora, networking-ovn-rally-task, networking-ovn-tripleo-c7-s007-oooq-containers, networking-ovn-tripleo-c7-s003-oooq-containers

Use vhost user client mode, instead of server
  networking_ovn/ml2/mech_driver.py
  networking_ovn/tests/functional/test_mech_driver.py
Due: legacy-networking-ovn-dsvm-base, legacy-networking-ovn-dsvm-base-multinode, networking-ovn-grenade-dsvm, networking-ovn-install-dsvm-kuryr, networking-ovn-dsvm-functional, networking-ovn-dsvm-functional-py35, networking-ovn-rally-dsvm, networking-ovn-tempest-dsvm-multinode, networking-ovn-tempest-dsvm-neutron-api-scenario-ovs-release, networking-ovn-tempest-dsvm-ovs-master, networking-ovn-tempest-dsvm-ovs-master-python3, networking-ovn-tempest-dsvm-ovs-release, networking-ovn-base, networking-ovn-tempest-dsvm-ovs-release-python2, networking-ovn-tempest-dsvm-ovs-master-fedora, networking-ovn-rally-task, networking-ovn-tripleo-c7-s007-oooq-containers, networking-ovn-tripleo-c7-s003-oooq-containers

Follow the new PTI for document build
  doc/requirements.txt
  setup.cfg
  test-requirements.txt
  tox.ini
Due: none

Start running bandit security analyser
  test-requirements.txt
  tox.ini
Due: none

tox: Reuse envdirs
  tox.ini
Due: none

Add mock.patch.stopall cleanup handler to base test class
  networking_ovn/tests/base.py
Due: legacy-networking-ovn-dsvm-base, legacy-networking-ovn-dsvm-base-multinode, networking-ovn-grenade-dsvm, networking-ovn-install-dsvm-kuryr, networking-ovn-dsvm-functional, networking-ovn-dsvm-functional-py35, networking-ovn-rally-dsvm, networking-ovn-tempest-dsvm-multinode, networking-ovn-tempest-dsvm-neutron-api-scenario-ovs-release, networking-ovn-tempest-dsvm-ovs-master, networking-ovn-tempest-dsvm-ovs-master-python3, networking-ovn-tempest-dsvm-ovs-release, networking-ovn-base, networking-ovn-tempest-dsvm-ovs-release-python2, networking-ovn-tempest-dsvm-ovs-master-fedora, networking-ovn-rally-task, networking-ovn-tripleo-c7-s007-oooq-containers, networking-ovn-tripleo-c7-s003-oooq-containers

Improve error handling for ChassisMetadataAgentEvent
  networking_ovn/ovsdb/ovsdb_monitor.py
  networking_ovn/tests/unit/ovsdb/test_ovsdb_monitor.py
Due: legacy-networking-ovn-dsvm-base, legacy-networking-ovn-dsvm-base-multinode, networking-ovn-grenade-dsvm, networking-ovn-install-dsvm-kuryr, networking-ovn-dsvm-functional, networking-ovn-dsvm-functional-py35, networking-ovn-rally-dsvm, networking-ovn-tempest-dsvm-multinode, networking-ovn-tempest-dsvm-neutron-api-scenario-ovs-release, networking-ovn-tempest-dsvm-ovs-master, networking-ovn-tempest-dsvm-ovs-master-python3, networking-ovn-tempest-dsvm-ovs-release, networking-ovn-base, networking-ovn-tempest-dsvm-ovs-release-python2, networking-ovn-tempest-dsvm-ovs-master-fedora, networking-ovn-rally-task, networking-ovn-tripleo-c7-s007-oooq-containers, networking-ovn-tripleo-c7-s003-oooq-containers

Switch default functional tests to Python3
  networking_ovn/tests/contrib/gate_hook.sh
  playbooks/legacy/networking-ovn-dsvm-functional-py27/post.yaml
  playbooks/legacy/networking-ovn-dsvm-functional-py27/run.yaml
  playbooks/legacy/networking-ovn-dsvm-functional/run.yaml
  tox.ini
  zuul.d/legacy-networking-ovn-jobs.yaml
  zuul.d/project.yaml
Due: legacy-networking-ovn-dsvm-base, legacy-networking-ovn-dsvm-base-multinode, networking-ovn-grenade-dsvm, networking-ovn-install-dsvm-kuryr, networking-ovn-dsvm-functional, networking-ovn-dsvm-functional-py35, networking-ovn-rally-dsvm, networking-ovn-tempest-dsvm-multinode, networking-ovn-tempest-dsvm-neutron-api-scenario-ovs-release, networking-ovn-tempest-dsvm-ovs-master, networking-ovn-tempest-dsvm-ovs-master-python3, networking-ovn-tempest-dsvm-ovs-release, networking-ovn-base, networking-ovn-tempest-dsvm-ovs-release-python2, networking-ovn-tempest-dsvm-ovs-master-fedora, networking-ovn-rally-task, networking-ovn-tripleo-c7-s007-oooq-containers, networking-ovn-tripleo-c7-s003-oooq-containers

Fix a few pylint warnings
  networking_ovn/tests/functional/test_ovn_db_sync.py
  networking_ovn/tests/unit/ml2/test_mech_driver.py
  tox.ini
Due: legacy-networking-ovn-dsvm-base, legacy-networking-ovn-dsvm-base-multinode, networking-ovn-grenade-dsvm, networking-ovn-install-dsvm-kuryr, networking-ovn-dsvm-functional, networking-ovn-dsvm-functional-py35, networking-ovn-rally-dsvm, networking-ovn-tempest-dsvm-multinode, networking-ovn-tempest-dsvm-neutron-api-scenario-ovs-release, networking-ovn-tempest-dsvm-ovs-master, networking-ovn-tempest-dsvm-ovs-master-python3, networking-ovn-tempest-dsvm-ovs-release, networking-ovn-base, networking-ovn-tempest-dsvm-ovs-release-python2, networking-ovn-tempest-dsvm-ovs-master-fedora, networking-ovn-rally-task, networking-ovn-tripleo-c7-s007-oooq-containers, networking-ovn-tripleo-c7-s003-oooq-containers

DevStack: Make ovsdb-server listen on 6640
  devstack/lib/networking-ovn
Due: legacy-networking-ovn-dsvm-base, legacy-networking-ovn-dsvm-base-multinode, networking-ovn-grenade-dsvm, networking-ovn-install-dsvm-kuryr, networking-ovn-dsvm-functional, networking-ovn-dsvm-functional-py35, networking-ovn-rally-dsvm, networking-ovn-tempest-dsvm-multinode, networking-ovn-tempest-dsvm-neutron-api-scenario-ovs-release, networking-ovn-tempest-dsvm-ovs-master, networking-ovn-tempest-dsvm-ovs-master-python3, networking-ovn-tempest-dsvm-ovs-release, networking-ovn-base, networking-ovn-tempest-dsvm-ovs-release-python2, networking-ovn-tempest-dsvm-ovs-master-fedora, networking-ovn-rally-task, networking-ovn-tripleo-c7-s007-oooq-containers, networking-ovn-tripleo-c7-s003-oooq-containers

Update .gitreview for stable/stein
  .gitreview
Due: legacy-networking-ovn-dsvm-base, legacy-networking-ovn-dsvm-base-multinode, networking-ovn-grenade-dsvm, networking-ovn-install-dsvm-kuryr, networking-ovn-dsvm-functional, networking-ovn-dsvm-functional-py35, networking-ovn-rally-dsvm, networking-ovn-tempest-dsvm-multinode, networking-ovn-tempest-dsvm-neutron-api-scenario-ovs-release, networking-ovn-tempest-dsvm-ovs-master, networking-ovn-tempest-dsvm-ovs-master-python3, networking-ovn-tempest-dsvm-ovs-release, networking-ovn-base, networking-ovn-tempest-dsvm-ovs-release-python2, networking-ovn-tempest-dsvm-ovs-master-fedora, networking-ovn-rally-task, networking-ovn-tripleo-c7-s007-oooq-containers, networking-ovn-tripleo-c7-s003-oooq-containers

Update UPPER_CONSTRAINTS_FILE for stable/stein
  tox.ini
Due: none

Update master for stable/stein
  releasenotes/source/index.rst
  releasenotes/source/stein.rst
Due: none

Fix OVN migration fetch logs task
  migration/infrared/tripleo-ovn-migration/main.yml
Due: legacy-networking-ovn-dsvm-base, legacy-networking-ovn-dsvm-base-multinode, networking-ovn-grenade-dsvm, networking-ovn-install-dsvm-kuryr, networking-ovn-dsvm-functional, networking-ovn-dsvm-functional-py35, networking-ovn-rally-dsvm, networking-ovn-tempest-dsvm-multinode, networking-ovn-tempest-dsvm-neutron-api-scenario-ovs-release, networking-ovn-tempest-dsvm-ovs-master, networking-ovn-tempest-dsvm-ovs-master-python3, networking-ovn-tempest-dsvm-ovs-release

Replace openstack.org git:// URLs with https://
  devstack/local.conf.sample
  playbooks/legacy/grenade-dsvm-networking-ovn/run.yaml
  playbooks/legacy/networking-ovn-dsvm-functional-py27/run.yaml
  playbooks/legacy/networking-ovn-dsvm-functional/run.yaml
  playbooks/legacy/tempest-dsvm-networking-ovn-multinode/run.yaml
Due: legacy-networking-ovn-dsvm-base, legacy-networking-ovn-dsvm-base-multinode, networking-ovn-grenade-dsvm, networking-ovn-install-dsvm-kuryr, networking-ovn-dsvm-functional, networking-ovn-dsvm-functional-py35, networking-ovn-rally-dsvm, networking-ovn-tempest-dsvm-multinode, networking-ovn-tempest-dsvm-neutron-api-scenario-ovs-release, networking-ovn-tempest-dsvm-ovs-master, networking-ovn-tempest-dsvm-ovs-master-python3, networking-ovn-tempest-dsvm-ovs-release, networking-ovn-base, networking-ovn-tempest-dsvm-ovs-release-python2, networking-ovn-tempest-dsvm-ovs-master-fedora, networking-ovn-rally-task, networking-ovn-tripleo-c7-s007-oooq-containers, networking-ovn-tripleo-c7-s003-oooq-containers

Replace openstack.org git:// URLs with https://
  devstack/devstackgatekuryrrc
  tools/tox_install.sh
Due: legacy-networking-ovn-dsvm-base, legacy-networking-ovn-dsvm-base-multinode, networking-ovn-grenade-dsvm, networking-ovn-install-dsvm-kuryr, networking-ovn-dsvm-functional, networking-ovn-dsvm-functional-py35, networking-ovn-rally-dsvm, networking-ovn-tempest-dsvm-multinode, networking-ovn-tempest-dsvm-neutron-api-scenario-ovs-release, networking-ovn-tempest-dsvm-ovs-master, networking-ovn-tempest-dsvm-ovs-master-python3, networking-ovn-tempest-dsvm-ovs-release, networking-ovn-base, networking-ovn-tempest-dsvm-ovs-release-python2, networking-ovn-tempest-dsvm-ovs-master-fedora, networking-ovn-rally-task, networking-ovn-tripleo-c7-s007-oooq-containers, networking-ovn-tripleo-c7-s003-oooq-containers

Replace openstack.org git:// URLs with https://
  devstack/devstackgatekuryrrc
  playbooks/legacy/grenade-dsvm-networking-ovn/run.yaml
  playbooks/legacy/install-dsvm-networking-ovn-kuryr/run.yaml
  playbooks/legacy/networking-ovn-dsvm-functional-py35/run.yaml
  playbooks/legacy/networking-ovn-dsvm-functional/run.yaml
  playbooks/legacy/tempest-dsvm-networking-ovn-multinode/run.yaml
  playbooks/legacy/tempest-dsvm-networking-ovn-neutron-api-ovs-release/run.yaml
  playbooks/legacy/tempest-dsvm-networking-ovn-ovs-master-python3/run.yaml
  playbooks/legacy/tempest-dsvm-networking-ovn-ovs-master/run.yaml
  playbooks/legacy/tempest-dsvm-networking-ovn-ovs-release-ovsdbapp-src/run.yaml
  playbooks/legacy/tempest-dsvm-networking-ovn-ovs-release/run.yaml
  tools/tox_install.sh
Due: legacy-networking-ovn-dsvm-base, legacy-networking-ovn-dsvm-base-multinode, networking-ovn-grenade-dsvm, networking-ovn-install-dsvm-kuryr, networking-ovn-dsvm-functional, networking-ovn-dsvm-functional-py35, networking-ovn-rally-dsvm, networking-ovn-tempest-dsvm-multinode, networking-ovn-tempest-dsvm-neutron-api-scenario-ovs-release, networking-ovn-tempest-dsvm-ovs-master, networking-ovn-tempest-dsvm-ovs-master-python3, networking-ovn-tempest-dsvm-ovs-release, networking-ovn-base, networking-ovn-tempest-dsvm-ovs-release-python2, networking-ovn-tempest-dsvm-ovs-master-fedora, networking-ovn-rally-task, networking-ovn-tripleo-c7-s007-oooq-containers, networking-ovn-tripleo-c7-s003-oooq-containers

Replace openstack.org git:// URLs with https://
  devstack/devstackgaterc
  playbooks/legacy/grenade-dsvm-networking-ovn/run.yaml
  playbooks/legacy/networking-ovn-dsvm-functional-py35/run.yaml
  playbooks/legacy/networking-ovn-dsvm-functional/run.yaml
  playbooks/legacy/tempest-dsvm-networking-ovn-multinode/run.yaml
  playbooks/legacy/tempest-dsvm-networking-ovn-neutron-api-scenario-ovs-release/run.yaml
  playbooks/legacy/tempest-dsvm-networking-ovn-ovs-master-python3/run.yaml
  playbooks/legacy/tempest-dsvm-networking-ovn-ovs-master/run.yaml
  playbooks/legacy/tempest-dsvm-networking-ovn-ovs-release-ovsdbapp-src/run.yaml
  playbooks/legacy/tempest-dsvm-networking-ovn-ovs-release/run.yaml
  tools/tox_install.sh
Due: legacy-networking-ovn-dsvm-base, legacy-networking-ovn-dsvm-base-multinode, networking-ovn-grenade-dsvm, networking-ovn-install-dsvm-kuryr, networking-ovn-dsvm-functional, networking-ovn-dsvm-functional-py35, networking-ovn-rally-dsvm, networking-ovn-tempest-dsvm-multinode, networking-ovn-tempest-dsvm-neutron-api-scenario-ovs-release, networking-ovn-tempest-dsvm-ovs-master, networking-ovn-tempest-dsvm-ovs-master-python3, networking-ovn-tempest-dsvm-ovs-release, networking-ovn-base, networking-ovn-tempest-dsvm-ovs-release-python2, networking-ovn-tempest-dsvm-ovs-master-fedora, networking-ovn-rally-task, networking-ovn-tripleo-c7-s007-oooq-containers, networking-ovn-tripleo-c7-s003-oooq-containers

Increase nb_cfg when needed only (reducing the # of transactions)
  networking_ovn/ml2/mech_driver.py
  networking_ovn/ovsdb/impl_idl_ovn.py
  networking_ovn/tests/functional/test_metadata_agent.py
Due: legacy-networking-ovn-dsvm-base, legacy-networking-ovn-dsvm-base-multinode, networking-ovn-grenade-dsvm, networking-ovn-install-dsvm-kuryr, networking-ovn-dsvm-functional, networking-ovn-dsvm-functional-py35, networking-ovn-rally-dsvm, networking-ovn-tempest-dsvm-multinode, networking-ovn-tempest-dsvm-neutron-api-scenario-ovs-release, networking-ovn-tempest-dsvm-ovs-master, networking-ovn-tempest-dsvm-ovs-master-python3, networking-ovn-tempest-dsvm-ovs-release, networking-ovn-base, networking-ovn-tempest-dsvm-ovs-release-python2, networking-ovn-tempest-dsvm-ovs-master-fedora, networking-ovn-rally-task, networking-ovn-tripleo-c7-s007-oooq-containers, networking-ovn-tripleo-c7-s003-oooq-containers

Fix pool protocol and algorithm validation
  networking_ovn/octavia/ovn_driver.py
  networking_ovn/tests/functional/octavia/test_ovn_driver.py
Due: legacy-networking-ovn-dsvm-base, legacy-networking-ovn-dsvm-base-multinode, networking-ovn-grenade-dsvm, networking-ovn-install-dsvm-kuryr, networking-ovn-dsvm-functional, networking-ovn-dsvm-functional-py35, networking-ovn-rally-dsvm, networking-ovn-tempest-dsvm-multinode, networking-ovn-tempest-dsvm-neutron-api-scenario-ovs-release, networking-ovn-tempest-dsvm-ovs-master, networking-ovn-tempest-dsvm-ovs-master-python3, networking-ovn-tempest-dsvm-ovs-release, networking-ovn-base, networking-ovn-tempest-dsvm-ovs-release-python2, networking-ovn-tempest-dsvm-ovs-master-fedora, networking-ovn-rally-task, networking-ovn-tripleo-c7-s007-oooq-containers, networking-ovn-tripleo-c7-s003-oooq-containers

Update functional tests
  networking_ovn/tests/functional/octavia/test_ovn_driver.py
Due: legacy-networking-ovn-dsvm-base, legacy-networking-ovn-dsvm-base-multinode, networking-ovn-grenade-dsvm, networking-ovn-install-dsvm-kuryr, networking-ovn-dsvm-functional, networking-ovn-dsvm-functional-py35, networking-ovn-rally-dsvm, networking-ovn-tempest-dsvm-multinode, networking-ovn-tempest-dsvm-neutron-api-scenario-ovs-release, networking-ovn-tempest-dsvm-ovs-master, networking-ovn-tempest-dsvm-ovs-master-python3, networking-ovn-tempest-dsvm-ovs-release, networking-ovn-base, networking-ovn-tempest-dsvm-ovs-release-python2, networking-ovn-tempest-dsvm-ovs-master-fedora, networking-ovn-rally-task, networking-ovn-tripleo-c7-s007-oooq-containers, networking-ovn-tripleo-c7-s003-oooq-containers

Add unittest tree structure check
  networking_ovn/tests/unit/ml2/test_mech_driver.py
  networking_ovn/tests/unit/test_ovn_parent_tag.py
  networking_ovn/tests/unit/test_ovn_vtep.py
  tools/check_unit_test_structure.sh
  tox.ini
Due: legacy-networking-ovn-dsvm-base, legacy-networking-ovn-dsvm-base-multinode, networking-ovn-grenade-dsvm, networking-ovn-install-dsvm-kuryr, networking-ovn-dsvm-functional, networking-ovn-dsvm-functional-py35, networking-ovn-rally-dsvm, networking-ovn-tempest-dsvm-multinode, networking-ovn-tempest-dsvm-neutron-api-scenario-ovs-release, networking-ovn-tempest-dsvm-ovs-master, networking-ovn-tempest-dsvm-ovs-master-python3, networking-ovn-tempest-dsvm-ovs-release, networking-ovn-base, networking-ovn-tempest-dsvm-ovs-release-python2, networking-ovn-tempest-dsvm-ovs-master-fedora, networking-ovn-rally-task, networking-ovn-tripleo-c7-s007-oooq-containers, networking-ovn-tripleo-c7-s003-oooq-containers

Update LoadBalancer Documentation
  doc/source/contributor/design/index.rst
  doc/source/contributor/design/loadbalancer.rst
Due: none

Update Rocky to test against OVS 2.11 stable
  devstack/devstackgaterc
  devstack/upgrade/settings
Due: legacy-networking-ovn-dsvm-base, legacy-networking-ovn-dsvm-base-multinode, networking-ovn-grenade-dsvm, networking-ovn-install-dsvm-kuryr, networking-ovn-dsvm-functional, networking-ovn-dsvm-functional-py35, networking-ovn-rally-dsvm, networking-ovn-tempest-dsvm-multinode, networking-ovn-tempest-dsvm-neutron-api-scenario-ovs-release, networking-ovn-tempest-dsvm-ovs-master, networking-ovn-tempest-dsvm-ovs-master-python3, networking-ovn-tempest-dsvm-ovs-release, networking-ovn-base, networking-ovn-tempest-dsvm-ovs-release-python2, networking-ovn-tempest-dsvm-ovs-master-fedora, networking-ovn-rally-task, networking-ovn-tripleo-c7-s007-oooq-containers, networking-ovn-tripleo-c7-s003-oooq-containers
